<main class="form-wrap container-fluid">
  <div class="goBack"><a href="javascript:history.back()"><span class="iconify"data-icon="ic:sharp-arrow-back-ios" data-inline="false"></span></a></div>
  <h2 class="title_new_expense">{{#if isEditing}}Edit Expense{{else}}Add A New Expense{{/if}}</h2>
  {{> notification}}
  
  <form {{#if isEditing}} action="/expense/edit/{{expenseId}}" {{else}} action="/expense/newExpense" {{/if}} method="post" class="needs-validation" novalidate>
    <input type="hidden" name='__method' value='patch'>
    <div class="form-row">
      <div class="form-group row">
        <label for="form_name">Name</label>
        <input type="text" name="name" class="form-control" id="form_name"   placeholder="Expense Name" value="{{expense.name}}" required>
        <div class="valid-feedback">
          Good!
        </div>
        <div class="invalid-feedback">
          Expense name field is required!!
        </div>
      </div>
      <div class="form-group row">
        <label for="form_amount">Amount</label>
        <input type="number" name="amount" class="form-control" id="form_amount" value="{{expense.amount}}" placeholder="Amount" required>
        <div class="valid-feedback">
          Good!
        </div>
        <div class="invalid-feedback">
          Invalid amount!
        </div>
      </div>
      <div class="form-group row">
        <label for="form_date">Date</label>
        <input type="date" name="date" class="form-control" id="form_date" value="{{currentDate}}" min="2015-01-01" max="2029-12-31" readonly>
      </div>
      <div class="form-group row">
        <label for="form_category">Category</label>
        <select name="category" class="form-control" id="form_category" required>
          <option value="" selected>Categories</option>
          <option value="food" {{isSelected expense.category "food"}}>food</option>
          <option value="entertaining" {{isSelected expense.category "entertaining"}}>entertaining</option>
          <option value="clothes" {{isSelected expense.category "clothes"}}>clothes</option>
          <option value="knowledge" {{isSelected expense.category "knowledge"}}>knowledge</option>
          <option value="transportation" {{isSelected expense.category "transportation"}}>transportation</option>
          <option value="home_supplies" {{isSelected expense.category "home_supplies"}}>home supplies</option>
          <option value="healthcare" {{isSelected expense.category "healthcare"}}>healthcare</option>
          <option value="housing" {{isSelected expense.category "housing"}}>housing</option>
        </select>
        <div class="valid-feedback">
          Good!
        </div>
        <div class="invalid-feedback">
          Must choose one category.
        </div>
      </div>
      <div class="form-group row">
        <label for="form_description">Description</label>
        <textarea type="text" name="description" class="form-control" id="form_description" value="{{expense.description}}"></textarea>
      </div>
    </div>
    </div>
    <div class="btn_group">
      <button class="btn_signup btn-primary btn-sm btn-rounded" type="submit">Submit</button>
    </div>
  </form>
</main>


