<main class='index_wrap'>
    
    <h2>{{isToday today currentDate}}</h2>
    <h3 class="sum">$ {{sum}}</h3>
    <button class="today btn-sm btn-rounded"><a href='/expense?date={{today}}'>Today</a></button>

    <nav>
        <button class="btn_add btn-sm btn-rounded"><a href='/expense/newExpense?date={{currentDate}}'>Add a New Expense</a></button>
        <input class="search_date" type="date">
    </nav>
        <section class='index_container'>
            <div class='items'>
            {{#if noExpense}}
            <div class='item_empty'>
                <span>You did not spend any money yet!</span>
            </div>
            {{else}}

                {{#each expense}}
                <div class='item'>
                    {{#categoryIcon this.category}}{{/categoryIcon}}
                    <span id="name">{{this.name}}</span>
                    <span id="amount">$ {{this.amount}}</span>
                    <span id="category">{{this.category}}</span>
                    <div class="operator">
                        <a href="/expense/edit/{{this._id}}?date={{this.date}}"><span class="edit iconify" data-icon="clarity:edit-line" data-inline="false"></span></a>
                        <span class="delete iconify" data-icon="iwwa:delete" data-inline="false"></span>
                        <input id="id" type="hidden" value="{{this._id}}">
                    </div>
                </div>
                {{/each}}

            {{/if}}    
        </section>
    </div>
    
</main>