<main class='index_wrap'>
    {{> notification}}
    {{#if month}}
    <h2>{{month}}</h2>
    {{else}}
    <h2>{{isToday today currentDate}}</h2>
    {{/if}}
    <h3 class="sum">$ {{sum}}</h3>
    <nav class='group-one'>
        <button class="today btn-sm btn-rounded"><a href='/expense?date={{today}}'>Today</a></button>

        <div name="month" class="dropdown show search_month">
            <a class="btn dropdown-toggle" href="#" role="button" id="dropdownMenuLink"       data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Month
            </a>

            <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                {{#each months}}
                <a class="dropdown-item" href="/summary?month={{this}}">{{this}}</a>
                {{/each}}
            </div>
        </div>
    </nav>

    

    <nav class='group-two'>
        {{#unless chartJS}}
        <button class="btn_add btn-sm btn-rounded"><a href='/expense/newExpense?date={{currentDate}}'>Add a New Expense</a></button>
        {{/unless}}
        <input class="search_date" type="date">
    </nav>
        <section class='index_container'>
            <div class='items'>
            {{#if chartJS}}
            <div class="chart">
                  <canvas id="myChart"></canvas>
            </div>
            {{/if}}
            {{#if noExpense}}
            <div class='item_empty'>
                <span>You did not spend any money yet!</span>
            </div>
            {{else}}
            
                {{#each expense}}
                <div class='item'>
                    {{#categoryIcon this.category}}{{/categoryIcon}}
                    <span id="name">{{this.name}}</span>
                    <span id="amount">$ {{this.amount}}</span>
                    <span id="category">{{this.category}}</span>
                    <div class="operator">
                        <a href="/expense/edit/{{this._id}}?date={{this.date}}"><span class="edit iconify" data-icon="clarity:edit-line" data-inline="false"></span></a>
                        <span class="delete iconify" data-icon="iwwa:delete" data-inline="false"></span>
                        <input id="id" type="hidden" value="{{this._id}}">
                    </div>
                </div>
                {{/each}}

            {{/if}}    
        </section>
    </div>
    
</main>